<div ng-controller="categoryController">
<ion-view>
<ion-side-menus>
      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-dark nav-title-slide-ios7">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view>
		<!--Content-->
		<ion-content>
		<div style="height:70px;"></div>
		<h3 class="red">{{data.name_th}}</h3>
		<label class="item item-input">
          <span class="input-label">Search</span>
          <input type="text" ng-model="txtSearch">
        </label>
			<div class="list">

			<a ng-repeat="item in lists | limitTo:20 |filter:txtSearch" class="item item-thumbnail-left" href="#content/{{user_id}}/{{item.content_season_id}}">
			  <img ng-cache ng-src="{{item.thumbnail}}" onerror="this.src = 'http://placehold.it/150x150';">
			  <p class="bigwhite">{{item.name_th}}</p>
			  <span class="white">{{item.detail}}</span>
			</a>
			</div>
		</ion-content>
		<!--Content-->
		</ion-nav-view>
      </ion-pane>
      <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark" >
          <h3 ng-bind-html="dataMember">{{dataMember}}</h3>
        </ion-header-bar>
        <ion-content has-header="true">
          <div class="list">
			<a class="item item-icon-left" href="#main/{{user_id}}">
				<i class="icon ion-home"></i>
				Home
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-star"></i>
				Favourite
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-circle-filled"></i>
				Coins
			</a>
			<a ng-repeat="sort in categories"  href="#/category/{{user_id}}/{{sort.id}}"
            <div class="item"  >{{sort.name_th}}</div>
			</a>
          </div>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
</ion-view>
</div>

