<ion-content>
 <div align="center"><img src="img/logo_big.png" class="extra" /></div>
         <div align="center">กรอกอีเมลของคุณ</div>
  <form ng-submit="forgetLogin()">

      <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginData.email">
        </label>
<button class="button button-block button-assertive signin" type="submit">ยืนยัน</button>

    </form>
    <a class="button button-block button-dark" href="#/login">ยกเลิก</a>
  </ion-content>